@page "/converter"

<h1>Convert Inch to/from Centimeter</h1>

<!--When @bind is called on an input by default, the value property is set and updated.-->
<label>Inches</label>
<input type="number" @bind-value="@Inches" @bind-value:event="oninput" />

<label>Centimeters</label>
<input type="number" @bind-value="@Centimeters" @bind-value:event="oninput" />

@code {
    double centimeters = 2.54;
    double inches = 1;

    public double Inches
    {
        get => inches;
        set
        {
            centimeters = value * 2.54;
            inches = value;
        }
    }

    public double Centimeters
    {
        get => centimeters;
        set
        {
            inches = value / 2.54;
            centimeters = value;
        }
    }
}
